@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Do+Hyeon&family=Dongle&family=Gothic+A1&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Stylish&family=Sunflower:wght@500&display=swap');

.container {
    font-family: "Jua", sans-serif;

    font-size: 30px;
    /* 아이템을 자신이 가진 내용물의 width 만큼만 사용하여 배치*/
    display: flex;
    /* 아이템들의 간격 조정(끝과 끝) */
    justify-content: space-between;

    padding: 20px;

}